alembic==0.9.8
Flask_SQLAlchemy==2.3.2
Flask_Migrate==2.1.1
SQLAlchemy==1.2.5
Flask_Moment==0.6.0
Flask==0.12.2
Flask_Bcrypt==0.7.1
micawber==0.4.0
discord.py==1.0.1
Flask_Script==2.0.6
requests==2.21.0
beautifulsoup4==4.7.1
discord==1.0.1
