/* A Free Design by Bryant Smith (bryantsmith.com) */
/* Note: To change the icon, change the background image for '#titlebar h1' (make sure it's 16x16, PNG Alpha Transparent preferred) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	background: #697281;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F1F5F8;
  background: #26476E url(images/background.png) repeat-x;
}
*
{
 margin: 0 auto 0 auto;
 text-align:left;}

img
{
max-width:100%;
}

.page
{
margin: 0 auto 0 auto;
margin-top:25px;
height:700px;
width: 65%;
min-width:400px;
display: table;
}

#titlebarleft
{
background-image:url(images/titlebar-left.png);
background-repeat:no-repeat;
height:29px;
width:250px;
overflow:hidden;
float:left;
}

#titlebarmid
{
background-image:url(images/titlebar-mid.png);
height:29px;
overflow:hidden;
}

#titlebarright
{
background-image:url(images/titlebar-right.png);
background-repeat:no-repeat;
height:29px;
width:74px;
overflow:hidden;
float:right;
}

#titlebarleft h1
{
padding-left:21px;
margin-top:8px;
margin-left:5px;
width:250px;
position:relative;
color:#FFFFFF;
text-align:left;
font-size:14px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
background-image:url(images/icon.png);
background-repeat:no-repeat;
overflow:hidden;
}

#menubarleft
{
background-image:url(images/menubar-left.png);
background-repeat:no-repeat;
height:21px;
width:4px;
float:left;
}

#menubarmid
{
background-image:url(images/menubar-mid.png);
height:21px;
padding-left:4px;
text-align:left;
font-family:Tahoma, "Tahoma", "Trebuchet MS", Arial;
font-size:11px;
}

#menubarright
{
background-image:url(images/menubar-right.png);
background-repeat:no-repeat;
height:21px;
width:4px;
float:right;
}

#menubarmid ul {
padding: 0px;
list-style-type: none;
height:21px;
}
#menubarmid ul li , #menubarmid ul li a, #menubarmid ul li a:visited{
height:21px;
margin: 0px;
padding: 5px;
padding-left:2px;
padding-right:2px;
height: 21px;
overflow: hidden;
display: inline;
text-align:center;
line-height:18px;
color:#000000;
text-decoration:none;
}


#menubarmid ul li a:hover
{
color:#FFFFFF;
}

#menubarmid ul li:hover
{
height:21px;
background:#316AC5;
}

#mainleft
{
background-image:url(images/notepad-back-left.png);
width:5px;
height:inherit;
float:left;
}

#main
{
padding-top:0px;
padding-left:3px;
padding-right:28px;
font-family: "Lucida Console", Lucida Console, "Tahoma", "Trebuchet MS", Arial;
background-color:white;
color:#000000;
overflow: scroll;
height:inherit;
}

#mainright
{
background-image:url(images/notepad-back-right.png);
height:inherit;
width:5px;
float:right;
}

#footerleft
{
background-image:url(images/footer-left.png);
background-repeat:no-repeat;
height:6px;
width:5px;
float:left;
}

#footermid
{
background-image:url(images/footer-mid.png);
height:6px;
}

#footerright
{
background-image:url(images/footer-right.png);
background-repeat:no-repeat;
height:6px;
width:5px;
float:right;
}

html, body {
text-align: center;
}
p {
padding-top:0px;
padding-bottom:15px;
text-align: left;
text-align:justify;
}

#main a
{
text-decoration:underline;
color:#373737;
}

#main a:hover
{
text-decoration:none;
color:#999999;
}

#main h1
{
font-family: "Lucida Console", Lucida Console, "Tahoma", "Trebuchet MS", Arial;
font-size:13px;
}