{% extends "index.html" %}

{% block content %}
<div class=articles>
    {% for article in articles %}
    <div class=article-post>
        <p><h1>>> {{article.author.nickname}} @ {{moment(article.timestamp).calendar()}}</h1></p>
        {% filter markdown %}
        {{ article.content_markdown }}
        {% endfilter %}
        <br>
        {% if article.attachment %}
        <img src="{{article.attachment}}">
        {% endif %}
        <br>
        <br>
    </div>
    {% endfor %}

</div>
{% endblock %}