
<html>
{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}
<head>
<style>
body {background-color:white; margin:3px; font-family: "Lucida Console", Lucida Console, "Tahoma", "Trebuchet MS", Arial;}

.articles h1
{
  font-family: Consolas, Courier New, Lucida Console, "Tahoma", "Trebuchet MS", Arial;
  font-size:14px;
}
</style>
</head>
<div class=articles>
    {% for article in articles %}

        <p><h1>>> {{article.author.nickname}} @ {{moment(article.timestamp).calendar()}}</h1></p>
        <p>{{ article.content_markdown|oembed(html=False, maxwidth=600, maxheight=600) }}</p>
        <br>
        {% if article.attachment %}
        <img src="{{article.attachment}}">
        {% endif %}
        <br>
        <br>

    {% endfor %}

</div>
</html>
