
<html>
{% block scripts %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{% endblock %}
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<div class=articles>
    {% for article in articles %}
    <div class=article-post>
        <p><h1>>> {{article.author.nickname}} @ {{moment(article.timestamp).calendar()}}</h1></p>
        <p>{{ article.content_markdown|oembed(html=False, maxwidth=600, maxheight=600) }}</p>
        <br>
        {% if article.attachment %}
        <img src="{{article.attachment}}">
        {% endif %}
        <br>
        <br>
    </div>
    {% endfor %}

</div>
</html>
